<!-- Desktop Header -->
<header>

    <h1 class="h1-trans">HenryJ14</h1>
    {# menu (abs)#}
    <div class="outer-menu">
        <input class="checkbox-toggle" type="checkbox" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="#aboutme">About</a></li>
                        <li><a href="#timeline">My Process</a></li>
                        <li><a href="#hobbies">Hobbies</a></li>
                        <li><a href="#project">Latest Project</a>
                        <li><a href="#radius">Contact Me</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="hero" data-overlay="2">
        <img class="vw-100 vh-100" src="{{ entry.homeImage.one().url }}" alt="banner">




    </div>



</header>