<!-- Desktop Header -->
<header>

    <h1 class="h1-trans">HenryJ14</h1>
    {# menu (abs)#}
    <div class="outer-menu">
        <input class="checkbox-toggle" type="checkbox" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu font-s">
            <div>
                <div>
                    <ul>
                        <li><a href="#">Introduction</a></li>
                        <li><a href="#">Story</a></li>
                        <li><a href="#">Project</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="hero" data-overlay="2">
        <img class="vw-100 vh-100" src="{{ siteUrl }}/assets/img/banner4.jpg" alt="banner">


{#            <nav class="flower">#}
{#                <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />#}
{#                <label class="menu-open-button" for="menu-open">#}
{#                    <span class="lines line-1"></span>#}
{#                    <span class="lines line-2"></span>#}
{#                    <span class="lines line-3"></span>#}
{#                </label>#}

{#                <a href="#" class="menu-item blue"> <i class="fa fa-anchor"></i> </a>#}
{#                <a href="#" class="menu-item green"> <i class="fa fa-coffee"></i> </a>#}
{#                <a href="#" class="menu-item red"> <i class="fa fa-heart"></i> </a>#}
{#                <a href="#" class="menu-item purple"> <i class="fa fa-microphone"></i> </a>#}
{#                <a href="#" class="menu-item orange"> <i class="fa fa-star"></i> </a>#}
{#                <a href="#" class="menu-item lightblue"> <i class="fa fa-diamond"></i> </a>#}
{#            </nav>#}
        <div class="container hero-container">
            <h2 class="font-s">Web developers</h2>


            {#            <hr class="hr-trans">#}
{#                <p> Consectetur adipisicing elit. Ab culpa error, illo incidunt, iste labore laudantium,#}
{#                    natus non possimus similique tempora velit! Beatae enim facilis maiores#}
{#                    minus nam similique sunt.</p>#}
        </div>

    </div>



</header>