<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% hook 'seomaticRender' %}

		<!-- Styles -->
		<link href="/assets/css/page.min.css" rel="stylesheet">
		<link href="/assets/css/custom.css?v2.7" rel="stylesheet">

		{#		<link href="/assets/css/page.min.css?v=1.0" rel="stylesheet">#}

		<!-- Favicons -->
		<link rel="icon" href="/assets/img/favcion.png">


		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

	{% endblock %}
	<noscript>Please enable javascript to view the site.</noscript>

</head>

<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
		href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


{% block body %}{% endblock %}
{% block foot %}{% endblock %}

<!-- Scripts -->
<script>
	var siteUrl = "{{ siteUrl }}";
</script>

<script src="/assets/js/page.min.js"></script>
<script src="/assets/js/custom.js?v1.0"></script>


</body>
</html>
